# Объектные файлы
*.o

# Библиотеки
*.a      # статические
*.so     # динамические (shared objects)
*.so.*   # версии динамических библиотек (например, libtest.so.1.0)

# Файлы ассемблерного кода
*.s

# Промежуточные и отладочные файлы
*.out
*.elf
*.d
*.dwo
*.dwp

# Временные файлы редакторов
*~
.*.swp
.*.swo
.DS_Store
Thumbs.db

# Логи компиляции
*.log

# Исполняемые файлы
word_sorter
razn_sp
rek_ch